/* .button-container {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.877);
  display: inline-block;
  border-radius: 30px;
  background-color: #19222d;
} */

.button {
  background-color: #eb5289;
  border-radius: 305px;
  outline: none;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
}

.btn-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lg-btn {
  width: 140px;
  height: 42px;
  justify-content: space-around;
}

.xl-btn {
  width: 167px;
  height: 42px;
}

.sm-btn {
  width: 85px;
  height: 42px;
  /* justify-content: space-around; */
}

.active {
  background-color: #fff;
  color: #eb5289;
}

.btn-text {
  font-size: 16px;
}

/* .pad {
  padding: 0 4px;
} */
