.card-container {
  background-image: linear-gradient(126.51deg, #f84686 2.33%, #c13660 100%);
  border-radius: 8px;
  width: 360px;
  height: 416px;
  color: #fff;
}

.card-container--inactive {
  background-image: linear-gradient(126.51deg, #303f51 2.33%, #2c3847 100%);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.liquidity {
  justify-content: space-around;
  margin: 0 20px;
  height: 70px;
}

.token-pairs > p {
  font-size: 23px;
  font-weight: 400;
  font-family: inherit;
  margin: 10px 0px;
}

.token-pairs > p:first-child {
  border-right: 2px solid #b7364f;
}

.token-pairs--inactive > p:first-child {
  border-right: 2px solid #121b25;
}

.token-pairs > * {
  padding: 0 20px;
}

.APY {
  justify-content: space-around;
  background-color: #c23563;
  border-radius: 30px;
  margin: 0 36px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  z-index: 10;
  position: relative;
  box-shadow: inset 0px 2px 8px rgba(103, 22, 48, 0.08);
}

.APY--inactive {
  background-color: #283443;
  box-shadow: inset 0px 2px 8px rgba(18, 27, 37, 0.08);
}

.pool {
  background-image: linear-gradient(126.51deg, #ff5977 2.33%, #b93684 100%);
  border-radius: 8px;
  height: 366px;
  width: 328px;
  margin: -20px auto;
  z-index: -4;
}

.pool--inactive {
  background-image: linear-gradient(132.75deg, #45576c 2.11%, #303f51 90.42%);
}

.pool-details {
  margin: 0 15px;
  border-bottom: 1px solid #fff;
}

.pool-details:not(:first-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pool-details:not(:first-child) > p:first-child {
  font-weight: 300;
  font-size: 14px;
}

.pool-details:first-child {
  padding: 20px 0px 0px 0px;
}

.farm {
  margin: 0 15px;
  position: relative;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 197px;
  height: 17px;
}

.progress-value {
  position: absolute;
  font-size: 12px;
  bottom: 1;
  left: 120px;
}

.progress[value]::-webkit-progress-bar {
  background-color: #67162f;
  border-radius: 26px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress--inactive[value]::-webkit-progress-bar {
  background-color: #121b25;
  border-radius: 26px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress[value]::-webkit-progress-value {
  background-color: #3d4e63;

  border-radius: 26px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progress--inactive[value]::-webkit-progress-value {
  background-color: #1dafee;

  border-radius: 26px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.btn-group {
  justify-content: space-around;
  padding-top: 20px;
}

/* .btn-group:first-child {
  flex-grow: 2;
  width: 167px;
} */
