.sidebar {
  background-color: #1b232d;
  grid-column: sidebar-start / sidebar-end;
  /* grid-row: 1 / -1; */
  padding: 2rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 28px;
}

.sidebar-menu > div:last-child {
  padding-top: 20px;
}

.sidebar-menu > div:nth-child(4) {
  padding-left: 5px;
}

.socials > div {
  padding: 10px 0;
}

/* .sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
